.App {
  text-align: center;
}

*{
  padding:0;
  margin:0;
}

.window{
  display:flex;
  justify-content:space-evenly;
  background-color:#D4ADFC

}

nav{
  text-transform:uppercase;
  text-align:center;
  background-color:#D4ADFC;
  padding:1.0rem;
  font-size:20px;
}

.card-header{
  background-color:#0C134F;
  color:#ffffff;
  padding:1.5rem;
  font-size:12px;
  text-transform:uppercase
}

.card-body{
  height:20rem;
  background-color:#1D267D;
  color:#ffffff;
  padding:2rem;
}
.card{
  margin:1rem
}
textarea{
  background-color:#1D267D;
  color:#ffffff;
  text-size:18px;
  padding:0.2rem;
}
